{% extends "base.html.twig" %}

    {% block title %}
        Accueil
    {% endblock %}

    {% block body %}
        
        <h1 class="text-center text-5xl font-extrabold dark:text-white">
            Nos Produits phares
            <span class="bg-blue-100 text-blue-800 text-2xl font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-2">
                Senemontre
            </span>
        </h1>
        <div class="flex ml-12  w-11/12 content-center mt-20 flex-wrap justify-between">
            {% for p in products %}
               
                <div class="max-w-xs  bg-white shadow-lg rounded-lg overflow-hidden my-10">
                    <div class="px-4 py-2">
                        <h1 class="text-gray-900 font-bold text-3xl uppercase">
                            {{ p.name |u.truncate(10) }}
                        </h1>
                        <p class="text-gray-600 text-sm mt-1">
                            {{ p.shortDescription | u.truncate(120) }}
                        </p>
                    </div>
                    <img class="h-56 w-full object-cover mt-2" src="{{ p.mainPicture }}" alt="NIKE AIR">
                    <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                        <h1 class="text-gray-200 font-bold text-xl">
                            {{ p.price }}
                        </h1>
                        <button class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to card</button>
                    </div>
                </div>

            {% endfor %}
        </div>
       
        {% include "shared/_spaceur.html.twig" with {
            'title': 'Assurance'
        } %}

       <div class="flex w-full p-5 mt-5">
            {% include "shared/_assurance.html.twig" with {
                'colorbg':  'red-500',
                'colorborder': 'dark',
                
                'title': 'titre1',
                'text': 'lorem1hzdkcbckj'

            } %}
            {% include "shared/_assurance.html.twig" with {
                'colorbg':  'primary',
                'colorborder': 'dark',
                
                'title': 'titre1',
                'text': 'lorem1hzdkcbckj'

            } %}
            {% include "shared/_assurance.html.twig" with {
                'colorbg':  'primary',
                'colorborder': 'dark',
                
                'title': 'titre1',
                'text': 'lorem1hzdkcbckj'

            } %}
       </div>

    {% endblock %}
