
<div class="flex-1 mr-5 p-6 max-w-sm bg-{{colorbg}} rounded-lg border border-{{colorborder}}-200 shadow-md">
    <i class="fa-duotone fa-truck"></i>
    <a href="#">
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">
            {{title}}
        </h5>
    </a>
    <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
        {{text}}
    </p>
</div>
